.search-bar {
	padding: 9px 9px 0;
	background-color: $dashboard-bg-color;
	color: $search-input-text-color;
	font-size: 17px;
	font-weight: 600;

	a {
		color: inherit;
	}

	&:not(.visible) {
		display: none;
	}
}

.search-input-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	line-height: 45px;
	background-color: $search-input-bg-color;
	padding: 0 18px;
	width: 100%;

	* + span, * + .search-input {
		margin-left: 9px;
	}

	.search-input {
		background: transparent;
		color: $primary-color-dark;
		font-weight: inherit;
		font-size: inherit;
		font-family: inherit;
	}
}

.search-status {
	margin-top: 12px;
	margin-bottom: 8px;
	line-height: 17px;
	color: rgba($text-color, .5);

	display: flex;
	align-items: center;
	justify-content: space-between;

	.clear-all-btn {
		color: $primary-color-dark;
		font-size: 14px;
	}
}