.page-view.product {
	.product-card {
		padding: 0;
		box-shadow: none;
		.product-image,
		.product-details {
			display: block;
			width: 100%;
		}
		.product-image {
			padding: 18px 27px 32px;
			background-color: $dashboard-bg-color;
			margin: 0;
			img {
				max-height: 216px;
				height: auto;
			}
		}
		.product-details {
			padding: 18px 18px 30px;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15)
		}
		.product-time {
			font-size: 14px;
			font-weight: 600;
			letter-spacing: .6px;
			color: rgba($text-color, .5);

			position: absolute;
			top: 18px; 
			right: 18px;
		}
		.product-description {
			font-size: 12px;
		}
		.product-info {
			line-height: 20px;
			font-weight: 600;
		}
	}
	.btn {
		margin-top: 10px;
	}
}